<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>历史订单</title>
        <link rel="stylesheet" type="text/css" href="../scss/shoppingcart.css">
        <link rel="stylesheet" type="text/css" href="../scss/historyorder.css">
    </head>
    <body>
        <nav class='top'>
			<div class='col-0 logo'>
				YourBookShelf
            </div>
            
            <div class='user-data'>
                <em>zzl1851201</em>
                <em>欢迎来到会员中心</em>
                <a href="#">地址管理</a>
                <a href="#">修改资料</a>
               
                <span>
                    <p style=" width:27%"></p>
                </span>
            </div>
        </nav>
        <div class="menu">
            <div class="col">
                <h2>交易管理</h2>
                <ul>
                    <li><a href="#">我的购物车</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">交易评价/晒单</a></li>
                    <li><a href="#">账户余额</a></li>
                    <li><a href="#">我的积分</a></li>
                </ul>
            </div>
            <hr>
            <div class="col">
                <h2>客户服务</h2>
                <ul>
                    <li><a href="#">退款及退货</a></li>
                    <li><a href="#">交易投诉</a></li>
                    <li><a href="#">商品咨询</a></li>
                    <li><a href="#">违规举报</a></li>
                    <li><a href="#">平台客服</a></li>
                </ul>
            </div>
            <hr>
            <div class="col">
                <h2>资料管理</h2>
                <ul>
                    <li><a href="#">账户信息</a></li>
                    <li><a href="#">账户安全</a></li>
                    <li><a href="#">收货地址</a></li>
                    <li><a href="#">我的消息</a></li>
                    <li><a href="#">第三方账号登录</a></li>
                </ul>
            </div>
        </div>

		<!--显示菜单的开始-->
		<div class="tips warp">
            <ul>
                <li>订单号/日期</li>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>状态</li>
            </ul>
       </div>
     <!--显示菜单的结束-->
     
     <!--商品详情展示开始-->
       <div class="info warp">
            <ul class='detail'>
                <li class="info_1">
                    <ul >
                        <li class="number">20200220202</li>
                        <li class="dealtime">2020-20-20:20</li>
                    </ul>
                </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《舍短离：放下Web，生活原来很美好！》</a></li>
                <li class="info_5">￥9</li>
                <li class="info_6">x100
                </li>
                <li class="info_7">￥999</li>
                <li class='info_8'>
                    <a>已完成</a><hr />
                    <a>退换货</a>
                </li>
            </ul>
       </div>
    
    
     <!--结算结束-->


        <footer>
			<span>Zilong Zhou</span> <span>1851201</span>
			<br>
			<span>TongjiUniversity</span>
        </footer>
        
    </body>
</html>

   	
            
            
                
            
           
        

