<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>登陆</title>
        <link rel="stylesheet" type="text/css" href="../scss/login-register.css" />
        <style>
            body{height:100%;background:rgb(51, 51, 51);overflow:hidden;color:rgb(245, 246, 247);}
            canvas{z-index:-1;position:absolute;}   
        </style>
    </head>
    <body>
        <dl class="admin_login">
            <dt>
                <strong>Your Book Shelf</strong>
                <hr>
                <strong>用户登录</strong>
            </dt>
            <dd class="user_icon">
                <input type="text" placeholder="账号" class="login_txtbx"/>
            </dd>
            <dd class="pwd_icon">
                <input type="password" placeholder="密码" class="login_txtbx"/>
            </dd>
            <dd class="val_icon">
                <div class="checkcode">
                    <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">
                    <!-- <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas> -->
                </div>
                <!-- <input type="button" value="验证码核验" class="ver_btn" onClick="validate();"> -->
            </dd>

            <dd>
                <input type="button" value="立即登陆" class="submit_btn"/>
            </dd>
            <dd>
                <p>ZL Zhou 1851201</p>
                <p>停止内卷 幸福一生 开始卷积 阿鼻地狱</p>
            </dd>
        </dl>
    </body>
</html>
