<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的购物车</title>
        <link rel="stylesheet" type="text/css" href="../scss/shoppingcart.css">
    </head>
    <body>
        <nav class='top'>
			<div class='col-0 logo'>
				YourBookShelf
            </div>
            
            <div class='user-data'>
                <em>zzl1851201</em>
                <em>欢迎来到会员中心</em>
                <a href="#">地址管理</a>
                <a href="#">修改资料</a>
               
                <span>
                    <p style=" width:27%"></p>
                </span>
            </div>
        </nav>
        <div class="menu">
            <div class="col">
                <h2>交易管理</h2>
                <ul>
                    <li><a href="#">我的购物车</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">交易评价/晒单</a></li>
                    <li><a href="#">账户余额</a></li>
                    <li><a href="#">我的积分</a></li>
                </ul>
            </div>
            <hr>
            <div class="col">
                <h2>客户服务</h2>
                <ul>
                    <li><a href="#">退款及退货</a></li>
                    <li><a href="#">交易投诉</a></li>
                    <li><a href="#">商品咨询</a></li>
                    <li><a href="#">违规举报</a></li>
                    <li><a href="#">平台客服</a></li>
                </ul>
            </div>
            <hr>
            <div class="col">
                <h2>资料管理</h2>
                <ul>
                    <li><a href="#">账户信息</a></li>
                    <li><a href="#">账户安全</a></li>
                    <li><a href="#">收货地址</a></li>
                    <li><a href="#">我的消息</a></li>
                    <li><a href="#">第三方账号登录</a></li>
                </ul>
            </div>
        </div>

		<!--显示菜单的开始-->
		<div class="tips warp">
            <ul>
                <li>
                    <input type="checkbox" />
                    全选
                </li>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>操作</li>
            </ul>
       </div>
     <!--显示菜单的结束-->
     
     <!--商品详情展示开始-->
       <div class="info warp">
            <ul class='detail'>
                <li class="info_1"><input type="checkbox" /> </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《舍短离：放下Web，生活原来很美好！》</a></li>
                <li class="info_4"><a>简装版</a> </li>
                <li class="info_5">￥91341</li>
                <li class="info_6">
                    <button>-</button>
                    <input type="text" name="" id="" value="1" />
                    <button class="bot">+</button>
                </li>
                <li class="info_7">￥182.5</li>
                <li class='info_8'>
                    <a>删除</a><br />
                    <a>已到我的关注</a>
                </li>
            </ul>
       </div>
     
        <div class="info warp">   
            <ul class='detail'>
                <li class="info_1"><input type="checkbox" /> </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《CSS：从开始到灭亡》</a></li>
                <li class="info_4"><a>精装本</a> </li>
                <li class="info_5">￥182.5</li>
                <li class="info_6">
                    <button>-</button>
                    <input type="text" name="" id="" value="1" />
                    <button class="bot">+</button>
                </li>
                <li class="info_7">￥1182.5</li>
                <li class='info_8'>
                    <a>删除</a><br />
                    <a>已到我的关注</a>
                </li>
            </ul>
        </div>
       
        <div class="info warp">
            <ul class='detail'>
                <li class="info_1"><input type="checkbox" /> </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《html劝退：千万别进行前端开发！》</a></li>
                <li class="info_4"><a>典藏版</a> </li>
                <li class="info_5">￥1182.5</li>
                <li class="info_6">
                    <button>-</button>
                    <input type="text" name="" id="" value="1" />
                    <button class="bot">+</button>
                </li>
                <li class="info_7">￥182.5</li>
                <li class='info_8'>
                    <a>删除</a><br />
                    <a>已到我的关注</a>
                </li>
            </ul>
        </div>

        <div class="info warp">
            <ul class='detail'>
                <li class="info_1"><input type="checkbox" /> </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《人生路:我为什么放弃了web》</a></li>
                <li class="info_4"><a>典藏版</a> </li>
                <li class="info_5">￥112.5</li>
                <li class="info_6">
                    <button>-</button>
                    <input type="text" name="" id="" value="1" />
                    <button class="bot">+</button>
                </li>
                <li class="info_7">￥182.5</li>
                <li class='info_8'>
                    <a>删除</a><br />
                    <a>已到我的关注</a>
                </li>
            </ul>
        </div>

        <div class="info warp">
            <ul class='detail'>
                <li class="info_1"><input type="checkbox" /> </li>
                <li class="info_2"> <img src="#" width="80px"/> </li>
                <li class="info_3"><a>《博弈论实战：1学分对绩点的影响有多大？》</a></li>
                <li class="info_4"><a>典藏版</a> </li>
                <li class="info_5">￥118.5</li>
                <li class="info_6">
                    <button>-</button>
                    <input type="text" name="" id="" value="1" />
                    <button class="bot">+</button>
                </li>
                <li class="info_7">￥182.5</li>
                <li class='info_8'>
                    <a>删除</a><br />
                    <a>已到我的关注</a>
                </li>
            </ul>
        </div>
     <!--商品详情展示结束-->
     
     <!--结算开始-->
     
    <div class="balance warp">
        
           <ul class="balance_ul1">
               <li> 
                   <input type="checkbox" name="" id="" value="" />全选
               </li>
               <li><a>删除选中商品</a></li>
               <li><a>移到我的关注</a></li>
               <li><a>清除下柜商品</a></li>
           </ul>
           
           <ul class="balance_ul2">
                <li>已经选择<span>1</span>件商品</li>
                <li>总价 <span>￥12000000</span></li>
                <li>
                    <button class="butt">去结算</button>
                </li>
           </ul>
    </div>
     <!--结算结束-->


        <footer>
			<span>Zilong Zhou</span> <span>1851201</span>
			<br>
			<span>TongjiUniversity</span>
        </footer>
        
    </body>
</html>

   	
            
            
                
            
           
        

