<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的主页</title>
        <link rel="stylesheet" type="text/css" href="css/homepage.css">
    </head>
    <body>
        <nav class='top'>
			<div class='col-0 logo'>
				YourBookShelf
            </div>
            
            <div>
                <b>
                    <img class='photo' src="img/touxiang.png"/>
                </b>
                <em>zzl1851201</em>
                <em>欢迎来到会员中心</em>
                <a href="#">地址管理</a>
                <a href="#">修改资料</a>
                <h5>内卷程度</h5>
                <strong>高！</strong>
                <span>
                    <p style=" width:27%"></p>
                </span>
            </div>
            
			<div class='col-2 menu'>
				<a href="#">购物车</a>|
				<a href="#">帮助中心</a>|
				<a href="#">我的账户</a>|
				<a href="#">新用户注册</a>
			</div>
			<div class=' search-form'>
				<input class='input_form' type="text" placeholder="请输入要查询的书本名称">
				<input class='btn' type="button" value='Go!'/>
			</div>
		</nav>

        <div class="menu">
            <h2>交易管理</h2>
            <div class="col">
                <a href="#">我的购物车</a>
                <a href="#">我的收藏</a>
                <a href="#">交易评价/晒单</a>
                <a href="#">账户余额</a>
                <a href="#">我的积分</a>
            </div>
            <h2>客户服务</h2>
            <div class="col">
                <a href="#">退款及退货</a>
                <a href="#">交易投诉</a>
                <a href="#">商品咨询</a>
                <a href="#">违规举报</a>
                <a href="#">平台客服</a>
            </div>
            <h2>资料管理</h2>
            <div class="col">
                <a href="#">账户信息</a>
                <a href="#">账户安全</a>
                <a href="#">收货地址</a>
                <a href="#">我的消息</a>
                <a href="#">第三方账号登录</a>
            </div>
        </div>

        <div>
            <div class='history-order'>
                <div>
                    <span>下单日期：</span><span class='date'>2020-06-01</span>
                    <span>订单号：</span><em class='order-number'>123123123123</em>
                    <span>商家：</span><em class='order-number'>你爸爸</em>
                </div>
                <div>
                    <img class='goods'src="" alt="">
                    <div class="goos-name">一个上平</div>
                    <div class='number'>x100</div>
                    <div class='price'>100$</div>
                    <div class='status'>已经晚场</div>
                </div>
            </div>
        </div>

        <footer>
			<span>Zilong Zhou</span> <span>1851201</span>
			<br>
			<span>TongjiUniversity</span>
		</footer>
    </body>
</html>

   	
            
            
                
            
           
        

