<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>bookStore</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div id="page">

		<!-- 顶部导航栏 -->
		<nav class='top'>
			<div class='col-0 logo'>
				YourBookShelf
			</div>		
			<div class='col-1 menu'>
				<a href="#">文学</a>
				<a href="#">内卷</a>
				<a href="#">计算机</a>
				<a href="#">外语</a>
				<a href="#">经管</a>
				<a href="#">励志</a>
				<a href="#">社科</a>
				<a href="#">学术</a>
				<a href="#">少儿</a>
				<a href="#">艺术</a>
				<a href="#">全部目录商品</a>
			</div>
			<div class='col-2 menu'>
				<a href="#">购物车</a>|
				<a href="#">帮助中心</a>|
				<a href="#">我的账户</a>|
				<a href="#">新用户注册</a>
			</div>
			<div class=' search-form'>
				<input class='input_form' type="text" placeholder="请输入要查询的书本名称">
				<input class='btn' type="button" value='Go!'/>
			</div>
		</nav>


		<!-- 中间部分具体页面 -->
		<div id="content">
			<div id="content_top">
				<span>首页&nbsp;&gt;&nbsp;同济大学&nbsp;&gt;&nbsp;内卷艺术列表 </span>
			</div>
			<div id="content_bottom">
				<h1>商品目录</h1>
				<hr/>
				<h1>内卷艺术</h1>
				<span>共100种商品</span>
				<hr/>
				<div id="productlist">
					<div id="booklist">
						<div class="book">
							<div class="bookimg">
								<img alt="" src="bookcover/101.jpg">
							</div>
							<div class="bookIntr">
								<span>《72小时极限html》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="bookcover/102.jpg">
							</div>
							<div class="bookIntr">
								<span>《3天速成Web技术》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="bookcover/103.jpg">
							</div>
							<div class="bookIntr">
								<span>《5天速成CSS》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="bookcover/104.jpg">
							</div>
							<div class="bookIntr">
								<span>《CSS：从入门到精通》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="#“ width="102">
							</div>
							<div class="bookIntr">
								<span>《如何2天学会JS》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="#" width="102">
							</div>
							<div class="bookIntr">
								<span>《2天教你如何部署服务器》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div class="bookimg">
								<img alt="" src="bookcover/107.jpg">
							</div>
							<div class="bookIntr">
								<span>《3天学会如何搭建网页框架》</span><br/>
								<span>售价：xxx</span>
							</div>
						</div>
						<div class="book">
							<div>
								<img alt="" src="bookcover/108.jpg" height="200">
							</div>
							<div>
								<span>《网页后端探秘：原来这么简单！》</span>
								<br>
								<span>售价:xxx</span>
							</div>
						</div>
						<div class="book">
							<div>
								<img alt="" src="bookcover/108.jpg" height="200">
							</div>
							<div>
								<span>《认识唯物论：人有多大胆，地有多大产》</span>
								<br>
								<span>售价:xxx</span>
							</div>
						</div>
						<div class="book">
							<div>
								<img alt="" src="bookcover/108.jpg" height="200">
							</div>
							<div>
								<span>《当代大学生心理探究：楼顶的风为何这么凉》</span>
								<br>
								<span>售价:xxx</span>
							</div>
						</div>
						<div class="book">
							<div>
								<img alt="" src="bookcover/108.jpg" height="200">
							</div>
							<div>
								<span>《学霸日记1:我是如何将17周的课5周上完》</span>
								<br>
								<span>售价:xxx</span>
							</div>
						</div>
						<div class="book">
							<div>
								<img alt="" src="bookcover/108.jpg" height="200">
							</div>
							<div>
								<span>《学霸日记:我是如何在4周内完成17周的课程设计》</span>
								<br>
								<span>售价:xxx</span>
							</div>
						</div>
					
						
						<div class="clear"></div>
						<div id="jumpPage">
							<a href="#">上一页</a>
							<a class="current" href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
							<a href="#">7</a>
							<a href="#">下一页</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<span>Zilong Zhou</span> <span>1851201</span>
			<br>
			<span>TongjiUniversity</span>
		</footer>
	</div>
</body>
</html>









